<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="shortcut icon" href="/favicon.ico">

    <title>Look-a-Ryks</title>

    <meta name="description" content="Look-a-Ryks uses facial recognition to find people who look like you from the Rijksmuseum art collection">

    <meta property="og:title" content="Look-a-Ryks" />
    <meta property="og:site_name" content="Look-a-Ryks" />
    <meta property="og:url" content="https://look-a-ryks.herokuapp.com/" />
    <meta property="og:type" content="website" />

    <% if @uploaded_url %>
      <meta property="og:image" content="<%= @results.first["image_url"] %>" />
    <% end %>

    <meta property="og:description"
      content="Look-a-Ryks uses facial recognition to find people who look like you from the Rijksmuseum art collection" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/tracking-min.js"></script>
    <script src="/js/face-min.js"></script>

    <script>
      window.onload = function() {
        var video = document.getElementById('video');
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');

        var copy_canvas = document.getElementById('copy_canvas');
        var copy_context = copy_canvas.getContext('2d');

        var tracker = new tracking.ObjectTracker('face');
        tracker.setInitialScale(4);
        tracker.setStepSize(2);
        tracker.setEdgesDensity(0.1);
        tracking.track('#video', tracker, { camera: true });

        var submitted = false;

        tracker.on('track', function(event) {
          // context.clearRect(0, 0, canvas.width, canvas.height);

          event.data.forEach(function(rect) {
            // context.strokeStyle = '#a64ceb';
            // context.strokeRect(rect.x, rect.y, rect.width, rect.height);
            // context.font = '11px Helvetica';
            // context.fillStyle = "#fff";

            if (!submitted) {
              console.log("SUBMITTING")
              submitted = true
              copy_context.drawImage(video, 0, 0, copy_canvas.width, copy_canvas.height);

              $.ajax({
                type: "POST",
                url: "/upload-image-capture",
                data: {
                  image: copy_canvas.toDataURL()
                },
                success: function (d) {
                  d = JSON.parse(d)
                  var image = $("<img src='' />").attr("src", d.image_url)
                  $(".featured-container").html(image)

                  setTimeout(function () {
                    submitted = false
                  }, 5000)
                }
             })

            }

          });
        });
      };
      </script>

    </script>
  </head>

  <body>
    <div class="container">
      <h1>
        Look-a-Ryks
      </h1>

      <div class='row'>
        <div class='col-sm-4'>
          <video id="video" width="320" height="240" preload autoplay loop muted></video>
          <canvas id="canvas" width="320" height="240"></canvas>
        </div>

        <div class='col-sm-4'>
          <canvas id="copy_canvas" width="320" height="240"></canvas>
        </div>

        <div class='col-sm-4 featured-container'>
        </div>
      </div>

      <p class="lead">
        Look-a-Ryks uses facial recognition to find people who look like you from the
        <a href='https://www.rijksmuseum.nl/en/rijksstudio'>Rijksmuseum art collection</a>.
      </p>

      <form action='/upload' enctype="multipart/form-data" method='POST' id="form">
        <input name="file" type="file" />
        <input type="submit" value="Upload" />
      </form>

      <% if @error_message %>
        <%= @error_message %>
      <% end %>

      <% if @uploaded_url %>
        <div class="container">
          <div class="row" id="uploaded-photo">
            <div class='col-sm-5'>
              <div class='uploaded-container'>
                <img src='<%= @uploaded_url %>' id='uploaded-picture' />
              </div>

              <script type="text/javascript">
                $(window).on("load", function() {
                  var img = $("#uploaded-picture");

                  var w = img.width() * <%= @uploaded_pos[:width] %>;
                  var h = img.height() * <%= @uploaded_pos[:height] %>;
                  var x = img.height() * <%= @uploaded_pos[:top] %>;
                  var y = img.width() * <%= @uploaded_pos[:left] %>;

                  var rect = document.createElement('div');
                  $('.uploaded-container').append(rect);

                  rect.classList.add('rect');
                  rect.style.width = w + 'px';
                  rect.style.height = h + 'px';
                  rect.style.top = x + 'px';
                  rect.style.left = y + 'px';
                })
              </script>
            </div>

            <div class='col-sm-2'>
              <h2 style='margin-top:100px;'>kind of looks like</h2>
            </div>

            <div class='col-sm-5'>
              <div class='featured-container'>
                <img src='<%= @results.first["image_url"] %>' id="most-similar" /><br/>
              </div>

              <script type="text/javascript">
                $(window).on("load", function() {
                  var img = $("#most-similar");
                  var w = img.width() * <%= @results.first["pos"][:width] %>;
                  var h = img.height() * <%= @results.first["pos"][:height] %>;
                  var x = img.height() * <%= @results.first["pos"][:top] %>;
                  var y = img.width() * <%= @results.first["pos"][:left] %>;

                  var rect = document.createElement('div');
                  $('.featured-container').append(rect);

                  rect.classList.add('rect');
                  rect.style.width = w + 'px';
                  rect.style.height = h + 'px';
                  rect.style.top = x + 'px';
                  rect.style.left = y + 'px';
                })
              </script>

              <a href='https://www.rijksmuseum.nl/nl/collectie/<%= @results.first["object_number"] %>' target='_blank'>
                '<%= @results.first["long_title"] %>'
              </a>
              <h3><%= @results.first["similarity"].to_i %>%</h3>
            </div>
          </div>
        </div>

        <h2>and also:</h2>

        <div class="row" id="results">
          <% @results[1..3].each do |result| %>
            <div class='col-sm-4'>
              <h3><%= result["similarity"].to_i %>%</h3>
              <img src='<%= result["image_url"] %>' />
              <a href='https://www.rijksmuseum.nl/nl/collectie/<%= result["object_number"] %>' target='_blank'>
                '<%= result["long_title"] %>'
              </a>
            </div>
          <% end %>
        </div>
      <% end %>

      <div id="examples" class="lead">
        Examples:
        <a href='/lookalikes/47335afb-fc63-4983-915e-dd2e307d982f'>Vladimir Putin</a>,
        <a href='/lookalikes/ca53c344-f4da-4891-ad81-1a93eb65f273'>Taylor Swift</a>,
        <a href='/lookalikes/09798ad5-e4bf-4e5f-b6e3-25c8296c6c16'>Donald Trump</a>,
        <a href='/lookalikes/1ccfcc6f-796f-4260-9ea2-863caad06667'>Sean Spicer</a>,
        <a href='/lookalikes/7605b3eb-b369-4dbf-bfd4-e271cd4f6cdc'>Theresa May</a>,
        <a href='/lookalikes/e65b1d4f-13bd-419f-b5c4-7f587a81c7ec'>Jeremy Corbyn</a>.
      </div>

      <div id='footer'>
        This works by matching your image against a set of <%= Artwork.formatted_count %>
        portraits in the Rijksmuseum collection. <a href='https://github.com/tijmenb/look-a-ryks'>Source code on GitHub</a>.
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-264022-33', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
